<section class="about">
    <div class="aboutContainer">
        <div class="titleAbout start">
            <h4> < Sobre mí > </h4>
        </div>
        <div class="infoAbout">
            <div class="photoAb">
                <img src="../../../assets/images/WEEB_BEIVA__7381-removebg-preview(1) 1.png" alt="Foto about BelenCastelli" id="photoAbout">
            </div>
            <div class="description">
                <p>Soy una <b>desarrolladora Full Stack</b> formada en la academia Codenotch. Aunque mi trayectoria profesional comenzó en el campo de la psicología, donde obtuve un máster en Psicología General Sanitaria y Neuropsicología Clínica y acumulé tres años de experiencia, he decidido redirigir mi carrera hacia el sector tecnológico, una pasión que siempre he tenido.</p>
                <p>Durante mi tiempo como investigadora en neuropsicología, desarrollé <b>habilidades analíticas y comunicativas efectivas,</b> que ahora aplico en el desarrollo de soluciones tecnológicas innovadoras. Mi formación y experiencia en psicología me han dotado de una perspectiva única y una capacidad destacada para colaborar en equipos multidisciplinarios.</p>
                <p><b>Soy una apasionada por la tecnología y el aprendizaje continuo.</b> Me encanta enfrentar nuevos desafíos y encontrar soluciones creativas que marquen la diferencia.</p>
                <p>Fuera del ámbito profesional, disfruto del senderismo, la lectura, los videojuegos y pasar tiempo con mi familia y amigos. Estas actividades me ayudan a mantener un equilibrio saludable y a recargar energías para seguir creciendo tanto personal como profesionalmente.</p>
            </div>
        </div>
        <div class="titleAbout end">
            <h4> < Sobre mí > </h4>
        </div>
    </div>
    
</section>
