<section class="technologies" id="tecnologias">
    <div class="techContainer">
        <div class="titleTech start">
            <h4>< Tecnologías ></h4>
        </div>
        <div class="techs">
            <div class="frontend">
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-html-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-css-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-js-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-mecanografiado-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-angularjs-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-oreja-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/image 3.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/image 4.png" alt="" class="imgIcon">
                </div>

            </div>
            <div class="backend">
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-nodo-js-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-expresar-js-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-mysql-an-open-source-relational-database-management-system-96 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-mongodb-a-cross-platform-document-oriented-database-program-96 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">             
                    <img src="../../../assets/images/techs/icons8-ngp-144 1.png" alt="" class="imgIcon">
                </div>
            </div>
            <div class="tools">
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-git-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-github-128 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-figma-96 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-estudio-visual-144 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/icons8-amazon-web-services-144(1) 1.png" alt="" class="imgIcon">
                </div>
                <div class="iconTech">
                    <img src="../../../assets/images/techs/image 5.png" alt="" class="imgIcon">
                </div>
            </div>
        </div>
        <div class="titleTech end">
            <h4>< / Tecnologías ></h4>
        </div>
    </div> 
</section>
