<section class="projects" id="proyectos">
    <div class="projectsContainer">
        <div class="titleProyects start">
            <h4>< Proyectos ></h4>
        </div>
        <div class="bodyProjects" >
            <div class="magyDeck">
                <div class="aboutMagydeck">
                    <div class="titleMagydeck">
                        <h4>MagyDeck</h4>
                    </div>
                    <div class="descriptionMagydeck">
                        <p>Aplicación Web para enriquecer la experiencia de juego de cartas Magic: The Gathering.</p>
                        <br>
                        <p>Construida con Angular, esta aplicación aprovecha una API REST externa  (Scryfall) para ofrecer datos actualizados sobre las cartas. Además,  utiliza una base de datos relacional (MySQL) para gestionar la información  pertienente</p>
                    </div>
                    <div class="socialMagydeck">
                        <div class="iconMagy">
                            <a href="https://magy-deck.vercel.app/" target="_blank"><img src="../../../assets/images/projects/Web.png" alt="" class="linkMagy web"></a>
                        </div>
                        <!-- <div class="iconMagy">
                            <img src="../../../assets/images/projects/Trial.png" alt="" class="linkMagy">
                        </div> -->
                        <div class="iconMagy">
                           <a href="https://github.com/naopeke/MagyDeck" target="_blank"> <img src="../../../assets/images/projects/GitHub.png" alt="" class="linkMagy github"></a>
                        </div>
                        <div class="iconMagy">
                            <a href="https://github.com/naopeke/MagyDeck_API" target="_blank"><img src="../../../assets/images/projects/GitHub.png" alt="" class="linkMagy github"></a>
                        </div>
                    </div>
                    <div class="videoMagy">
                        <iframe width="320" src="https://www.youtube.com/embed/kQP7XOjJazs?si=jEkZ1qtkKKJ0unS9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    
            
                </div>
                <div class="photoMagydeck">
                    <div class="imgMagyCont">
                        <img src="../../../assets/images/projects/foto magydeck.png" alt="" id="imgMagy" height="800px">
                    </div>
                        
                </div>
            </div>
            <div class="otherProjs">
                <div *ngFor="let project of projects">
                    <app-projects [project] = 'project' ></app-projects>
                </div>
                
            </div>
        </div>
        <div class="titleProyects end">
            <h4>< / Proyectos ></h4>
        </div>

    </div>
</section>
