
.main{
    width: 100%;
    margin-top: 140px;
}

/* Presentation */
.presentation{
    height: 775px;
    background-color: #070420;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPerfil {
    width: 1100px;
    padding: 30px;
    /* height: 450px; */
    display: flex;
    border: solid #579DF2;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px #579DF2;
    font-family: 'Courier New', Courier, monospace;
    color: #e0cec2;
}

.cardInfo{
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title, .myInfo{
    width: 85%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
#titleName{
    font-size: 24pt;
    text-align: center;
}
#subtitle{
    color: #579DF2;
    text-align: center;
    /* font-size: 1.8vw; */
}

.myInfo{
 gap: 15px;
}

.myInfo p {
    color: white;
    /* font-size: 1.2vw; */
}

.downloadCV{
    height: 45px;
    padding: 20px;


    align-self: flex-end;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #16203F, #0B59B1, #0A2F5B);
    border-radius: 15px;
}
.downloadCV a {
    text-decoration: none;
    color: white;
    text-align: center;
   
}
.downloadCV:hover{
    cursor: pointer;
    /* background-image: linear-gradient(to right, #0B59B1, #0A2F5B, #0B59B1); */
    /* border: solid #579DF2 2px; */
    box-shadow: 0px 0px 10px 2px #579DF2;
}

.cardPhoto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.myPhoto{
    width: 85%;
    display: flex;
    justify-content: center;
}

#photoPerfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.socialIcon:hover{
    cursor: pointer;
}

.icon:hover{
    filter: brightness(60%);
}

.modalVideo{
    width: 1100px;
    height: 450px;
    padding: 10px;
    position: absolute;
    right: 400px;
    z-index: 99;

    border: solid #579DF2;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px #579DF2;
    background-color: #070420;

    display: flex;
    flex-direction: column;

}


.video{
    align-self: center;
}

.close{
    align-self: flex-end;
}
#closeCV:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px red;
}
/* About */
.aboutHome, #techsHome, #contactHome {
    margin-top: -140px;
}


/* contact */



@media screen {
    
}