<main class="main">
    <section class="presentation">
        <div class="cardPerfil">
            <div class="cardInfo">
                <div class="title">
                    <h1 id="titleName">Belén Castelli Gubiotti</h1>
                    <h3 id="subtitle">Desarrolladora Web Full Stack</h3>
                </div>
                <div class="myInfo">
                    <p>Soy una entusiasta del desarrollo web, apasionada por dar vida a ideas.  Con experiencia en frontend y backend, 
                        estoy preparada para abordar nuevos desafíos y crear soluciones innovadoras.</p>
                    <div class="downloadCV">
                        <a href="../../../assets/docs/CV_BelenCastelliGubiotti.pdf" target="_blank">
                           Descarga mi CV aquí
                        </a>
                    </div>
                </div>
            </div>
            <div class="cardPhoto">
                <div class="myPhoto">
                    <img id="photo" src="../../../assets/images/image 1.png" alt="Foto BelenCastelli" width="320px" id="photoPerfil">
                </div>
                <div class="social">
                    <div class="socialIcon">
                        <a href="https://www.linkedin.com/in/bel%C3%A9n-castelli-gubiotti-34b111263/" target="_blank">
                            <img id="linkedin" src="../../../assets/images/LinkedIn_logo_initials 1.png" alt="Linkedin Logo" height="35px" class="icon">
                        </a>
                    </div>
                    <div class="socialIcon">
                        <a href="https://github.com/BelenCastelli">
                            <img id="github" src="../../../assets/images/klipartz 1.png" alt="github logo" height="35px" class="icon">
                        </a>
                    </div>
                    <div class="socialIcon">
        
                        <img id="videocv" src="../../../assets/images/image 11.png" alt="icon youTube" height="30px" class="icon"
                        (click)="openVideo()">
                    </div>
                    
                </div>

            </div>
            <div *ngIf="modalVideo">
                <div class="modalVideo">
                    <div class="close">
                        <img src="../../../assets/images/Cancel.png" alt="" id="closeCV"
                        (click)="closeVideo()">
                    </div>
                    <div class="video">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2gG7gCRinRk?si=pxREnDXsppmLiuVg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                    
                </div>
            </div>
        </div>

 

    </section>

    <section class="about">
        <div class="titleAbout">
            <h4>Sobre mí</h4>
        </div>
        <div class="photoAb">
            <img src="../../../assets/images/WEEB_BEIVA__7381-removebg-preview(1) 1.png" alt="Foto about BelenCastelli" id="photoAbout">
        </div>
        <div class="description">
            <p>Soy una apasionada por la tecnología y el aprendizaje continuo. Me destaco por  mis habilidades analíticas y comunicativas, disfruto creando soluciones  innovadoras y colaborando en equipos multidisciplinarios.</p>
            <p>Fuera del trabajo, disfruto del senderismo, la lectura, los videojuegos y pasar tiempo con mi familia y amigos</p>
        </div>
        
    </section>
    
    <section class="technologies">
        <div class="techContainer">
            <div class="titleTech start">
                <h4>< Tecnologías ></h4>
            </div>
            <div class="techs">
                <div class="frontend">
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-html-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-css-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-js-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-mecanografiado-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-angularjs-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-oreja-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/image 3.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/image 4.png" alt="" class="imgIcon">
                    </div>

                </div>
                <div class="backend">
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-nodo-js-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-expresar-js-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-mysql-an-open-source-relational-database-management-system-96 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-mongodb-a-cross-platform-document-oriented-database-program-96 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">             
                        <img src="../../../assets/images/techs/icons8-ngp-144 1.png" alt="" class="imgIcon">
                    </div>
                </div>
                <div class="tools">
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-git-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-github-128 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-figma-96 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-estudio-visual-144 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/icons8-amazon-web-services-144(1) 1.png" alt="" class="imgIcon">
                    </div>
                    <div class="iconTech">
                        <img src="../../../assets/images/techs/image 5.png" alt="" class="imgIcon">
                    </div>
                </div>
            </div>
            <div class="titleTech end">
                <h4>< / Tecnologías ></h4>
            </div>
        </div> 
    </section>
    
    <section class="projects">
        <div class="projectsContainer">
            <div class="titleProyects start">
                <h4>< Proyectos ></h4>
            </div>
            <div class="bodyProjects">
                <div class="magyDeck">
                    <div class="aboutMagydeck">
                        <div class="titleMagydeck">
                            <h4>MagyDeck</h4>
                        </div>
                        <div class="descriptionMagydeck">
                            <p>Aplicación Web para enriquecer la experiencia de juego de cartas Magic: The Gathering.</p>
                            <br>
                            <p>Construida con Angular, esta aplicación aprovecha una API REST externa  (Scryfall) para ofrecer datos actualizados sobre las cartas. Además,  utiliza una base de datos relacional (MySQL) para gestionar la información  pertienente</p>
                        </div>
                        <div class="socialMagydeck">
                            <div class="iconMagy">
                                <a href="https://magy-deck.vercel.app/" target="_blank"><img src="../../../assets/images/projects/Web.png" alt="" class="linkMagy web"></a>
                            </div>
                            <!-- <div class="iconMagy">
                                <img src="../../../assets/images/projects/Trial.png" alt="" class="linkMagy">
                            </div> -->
                            <div class="iconMagy">
                               <a href="https://github.com/naopeke/MagyDeck" target="_blank"> <img src="../../../assets/images/projects/GitHub.png" alt="" class="linkMagy github"></a>
                            </div>
                            <div class="iconMagy">
                                <a href="https://github.com/naopeke/MagyDeck_API" target="_blank"><img src="../../../assets/images/projects/GitHub.png" alt="" class="linkMagy github"></a>
                            </div>
                        </div>
                        <div class="videoMagy">
                            <iframe width="320" src="https://www.youtube.com/embed/kQP7XOjJazs?si=jEkZ1qtkKKJ0unS9" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                        
                
                    </div>
                    <div class="photoMagydeck">
                        <div class="imgMagyCont">
                            <img src="../../../assets/images/projects/foto magydeck.png" alt="" id="imgMagy">
                        </div>
                            
                    </div>
                </div>
                <div class="otherProjs">
                    <div *ngFor="let project of projects">
                        <app-projects [project] = 'project' ></app-projects>
                    </div>
                    
                </div>
            </div>
            <div class="titleProyects end">
                <h4>< / Proyectos ></h4>
            </div>

        </div>
    </section>
    
    <section class="contact">
    
    </section>
</main>
