
.main{
    width: 100%;
    margin-top: 140px;
}

/* Presentation */
.presentation{
    height: 775px;
    background-color: #070420;

    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPerfil {
    width: 1100px;
    height: 450px;
    display: flex;
    border: solid #579DF2;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px #579DF2;
    font-family: 'Courier New', Courier, monospace;
    color: #e0cec2;
}

.cardInfo{
    width: 60%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title, .myInfo{
    width: 85%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
#titleName{
    font-size: 24pt;
    text-align: center;
}
#subtitle{
    color: #579DF2;
    text-align: center;
    /* font-size: 1.8vw; */
}

.myInfo{
 gap: 15px;
}

.myInfo p {
    color: white;
    /* font-size: 1.2vw; */
}

.downloadCV{
    height: 45px;
    padding: 20px;


    align-self: flex-end;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #16203F, #0B59B1, #0A2F5B);
    border-radius: 15px;
}
.downloadCV a {
    text-decoration: none;
    color: white;
    text-align: center;
   
}
.downloadCV:hover{
    cursor: pointer;
    /* background-image: linear-gradient(to right, #0B59B1, #0A2F5B, #0B59B1); */
    /* border: solid #579DF2 2px; */
    box-shadow: 0px 0px 10px 2px #579DF2;
}

.cardPhoto{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.myPhoto{
    width: 85%;
    display: flex;
    justify-content: center;
}

#photoPerfil{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.social{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


.socialIcon:hover{
    cursor: pointer;
}

.icon:hover{
    filter: brightness(60%);
}

.modalVideo{
    width: 1100px;
    height: 450px;
    padding: 10px;
    position: absolute;
    right: 400px;
    z-index: 99;

    border: solid #579DF2;
    border-radius: 15px;
    box-shadow: 0px 0px 30px 5px #579DF2;
    background-color: #070420;

    display: flex;
    flex-direction: column;

}


.video{
    align-self: center;
}

.close{
    align-self: flex-end;
}
#closeCV:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px red;
}
/* About */
.about{
    height: 650px;
    background-color: #e0cec2;



    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;

}

.titleAbout{
    background-image: linear-gradient(to right, #664900, #A67700, #A67700, #A67700, #664900);
    padding: 10px;
    border-radius: 15px;
    width: 200px;
}

.titleAbout h4, .titleTech h4, .titleProyects h4{
    font-size: 20pt;
    color: #e0cec2;
    text-align: center;
}

.photoAb, .description{
    border: solid black 2px;
    border-radius: 15px;
}
.photoAb img{
    filter: drop-shadow(20px 0px 10px rgba(0, 0, 0, 0.3));
}

.description{
    width: 30%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.description p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

/* Technologies */
.technologies{
    /* height: 775px; */
    padding: 50px 0px;
    background-color: #070420;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techContainer{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.titleTech, .titleProyects{
    font-family: 'Courier New', Courier, monospace;
    color: #e0cec2;
    padding: 10px;
    border-radius: 15px;
}

.titleTech{
    background-image: linear-gradient(to right, #16203F, #0B59B1, #0A2F5B);
}
.start{
    align-self: flex-start;
}

.end{
    align-self: flex-end;
}

.techs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: 40px;
}

.frontend, .backend, .tools{
    width: 400px;
    height: 500px;
    border: solid #579DF2 2px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;
}

.frontend{
    box-shadow: -20px 20px 20px 1px #579DF2;
    /* gap: 7px; */
}

.backend{
    box-shadow: 0px 20px 20px 1px #579DF2;
    gap: 10px;
    padding-top: 25px;
}

.tools{
    box-shadow: 20px 20px 20px 1px #579DF2;
    /* gap: 17px; */
}

.imgIcon{
    height: 100%;
    width: 100%;
  object-fit: fill;
}


/* proyects */
.projects{
    padding: 50px 0px;
    background-color: #e0cec2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectsContainer{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleProyects{
    background-image: linear-gradient(to right, #664900, #A67700, #A67700, #A67700, #664900);
}

.bodyProyects{
    display: flex;
    flex-direction: column;
}

/* principal proyect */

.magyDeck{
    display: flex;
    padding: 15px;
    height: 650px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}

.aboutMagydeck{
    border: solid #C38A31 2px;
    border-radius: 15px;
    /* box-shadow: -10px 10px 40px #C38A31; */
    width: 38%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 30px;
}

.titleMagydeck{
    background-color: #C38A31;
    align-self: center;
    padding: 10px;
    width: 160px;
    border-radius: 15px;
    border: solid black 1px;
    /* box-shadow: 0px 0px 20px 4px #C38A31; */
}

.titleMagydeck h4{
    font-family:'Courier New', Courier, monospace;
    font-size: 16pt;
    text-align: center;
    text-shadow: 2px 2px 4px rgb(73, 62, 9)
}

/* .descriptionMagydeck{

} */

.descriptionMagydeck p {
    font-family: monospace;
    font-size: 14pt;
}

.socialMagydeck{
    align-self: center;
    width: 90%;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #C38A31;
    border-radius: 15px;
    /* height: 50px; */

}
.videoMagy{
    align-self: center;
}

.otherProjs{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.photoMagydeck{
    border: solid #C38A31 2px;
    border-radius: 15px;
    width: 58%;
    height: 100%;
      /* box-shadow: 10px 10px 40px #C38A31; */

}
#imgMagy{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

/* contact */

.contact{
    height:800px ;
    background-color: #070420;;
}

@media screen {
    
}