<main class="main">
    <section class="presentation">
        <div class="cardPerfil">
            <div class="cardInfo">
                <div class="title">
                    <h1 id="titleName">Belén Castelli Gubiotti</h1>
                    <h2 id="subtitle">Desarrolladora Web Full Stack</h2>
                </div>
                <div class="myInfo">
                    <p>Soy una entusiasta del desarrollo web, apasionada por dar vida a ideas.  Con experiencia en frontend y backend, 
                        estoy preparada para abordar nuevos desafíos y crear soluciones innovadoras.</p>
                    <div class="downloadCV">
                        <a href="../../../assets/docs/CV_BelenCastelliGubiotti.pdf" target="_blank">
                            <!-- <div>
                                <img src="../../../assets/images/CV.png" alt="">
                            </div> -->
                           Descarga mi CV aquí
                        </a>
                    </div>
                </div>

            </div>
            <div class="cardPhoto">
                <div class="myPhoto">
                    <img id="photo" src="../../../assets/images/image 1.png" alt="Foto BelenCastelli" width="320px">
                </div>
                <div class="social">
                    <div class="socialIcon">
                        <a href="https://www.linkedin.com/in/bel%C3%A9n-castelli-gubiotti-34b111263/" target="_blank">
                            <img id="linkedin" src="../../../assets/images/LinkedIn_logo_initials 1.png" alt="Linkedin Logo">
                        </a>
                    </div>
                    <div class="socialIcon">
                        <a href="https://github.com/BelenCastelli">
                            <img id="github" src="../../../assets/images/klipartz 1.png" alt="github logo">
                        </a>
                    </div>
                    <div class="socialIcon">
                        <img id="videocv" src="../../../assets/images/Circled Play.png" alt="icon video">
                    </div>
                    
                </div>

            </div>
        </div>

    </section>
    
    <section class="about">
    
    </section>
    
    <section class="technologies">
    
    </section>
    
    <section class="projects">
    
    </section>
    
    <section class="contact">
    
    </section>
</main>
