.contact{
    background-color: #070420;;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    font-family: monospace;
    margin-top: 140px;
}
.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;
    gap: 50px;
}
.titleTech{
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to right, #16203F, #0B59B1, #0A2F5B);
    color: #e0cec2;
    padding: 10px;
    border-radius: 15px;
    height: 55px;
    width: 300px;
}
.titleTech h4{
    font-size: 20pt;
    text-align: center;
}

.start{
    align-self: flex-start;
}

.end{
    align-self: flex-end;
}

.contacSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.opinion{
    color: white;
    text-align: center;
    font-size: 18pt;
}
.infoContainer{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.infoContact{
    border: solid #579DF2 2px;
    border-radius: 15px;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;


}

.textContact{
    align-self: center;
    font-size: 16pt;
    text-decoration: underline;
}

.socialNet{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.howContact{
    display: flex;
    align-items: center;
    gap: 20px;

}

.howContact p {
    font-size: 13pt;
    padding-top: 10px;
}

@media screen and (max-width: 650px)
{
    .infoContainer, #photoContact{
   width: 400px;
    }
}